<ion-tabs class="tabs-color-active-balanced tabs-background-light tabs-striped tabs-top">

  <ion-tab title="Product" icon="ion-cube" ui-sref="tab.product-list">
    <ion-nav-view name="tab-products"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Type" icon="ion-pricetags" ui-sref="tab.type-list">
    <ion-nav-view name="tab-types"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Category" icon="ion-pricetag" ui-sref="tab.category-list">
    <ion-nav-view name="tab-categories"></ion-nav-view>
  </ion-tab>

</ion-tabs>
