<ion-view cache-view="false" view-title="SignUp" hide-tabs>
  <ion-content padding="true">
    <form name="signupForm" class="list" ng-submit="signupForm.$valid && create()" novalidate>
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input ng-model="user.name" type="text" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input ng-model="user.password" type="password" required>
      </label>
      <button type="submit" ng-disabled="!signupForm.$valid" class="button button-balanced button-block button-outline">SignUp</button>
    </form>
  </ion-content>
</ion-view>
