<ion-view view-title="Forgot Password">
    <ion-content padding="true">
      <!-- STEP1 -->
        <form  ng-submit="sendEmail(data)" class="list" ng-if="step1">
            <ion-list class="list list-inset">
                <label class="item item-input">
                    <input ng-model="data.email"type="email" placeholder="Email">
                </label>
            </ion-list>
            <div class="spacer" style="height: 20px;"></div>
            <button
            type="submit"
            class="button button-balanced button-block button-outline icon-left ion-log-in">
            Send
            </button>
            <a
            ui-sref="login"
            class="button button-positive  button-block button-outline icon-left ion-android-arrow-back">
            Cancel
            </a>
        </form>
        <!-- STEP2 -->
        <form  ng-submit="sendCode(data)" class="list" ng-if="step2">
            <ion-list class="list list-inset">
                <label class="item item-input">
                    <input ng-model="data.code" type="text" placeholder="Code">
                </label>
            </ion-list>
            <div class="spacer" style="height: 20px;"></div>
            <button
            type="submit"
            class="button button-balanced button-block button-outline icon-left ion-log-in">
            Send
            </button>
            <a
            ng-click="sendEmail(data)"
            class="button button-positive  button-block button-clear">
            I don'have code
            </a>
        </form>
        <!-- STEP3 -->
        <form  ng-submit="sendPassword(data)" class="list" ng-if="step3">
          <ion-list class="list list-inset">
              <label class="item item-input">
                  <input ng-model="data.new_password"type="password" placeholder="Password">
              </label>
              <label class="item item-input">
                  <input ng-model="data.validate_password"type="password" placeholder="Confirm password">
              </label>
          </ion-list>
          <div class="spacer" style="height: 20px;"></div>
          <button
          type="submit"
          class="button button-balanced button-block button-outline icon-left ion-log-in">
          Send
          </button>
        </form>

    </ion-content>
</ion-view>
