<ion-view cache-view="false" view-title="Login">
    <ion-content padding="true">
        <form  name="loginForm" ng-submit="loginForm.$valid && login()" class="list" novalidate>
            <ion-list class="list list-inset">
                <label class="item item-input">
                    <input ng-model="user.username" type="text" placeholder="Username or Email" autocapitalize="off" required>
                </label>
                <label class="item item-input">
                    <input ng-model="user.password" type="password" placeholder="Password" required>
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button type="submit" ng-disabled="!loginForm.$valid" class="button button-balanced button-block button-outline icon-left ion-log-in">Log in</button>
            <a ui-sref="signup"  class="button button-positive  button-block button-outline icon-left ion-android-person-add">Or create an account</a>
            <button ui-sref="#" class="button button-assertive button-block button-default icon-left ion-social-google">Google</button>
            <button ui-sref="#" class="button button-positive button-block button-default icon-left ion-social-facebook">Facebook</button>
            <a ui-sref="forgot-password"  class="button button-positive  button-block button-clear">Forgot password?</a>
        </form>
    </ion-content>
</ion-view>
