<ion-view view-title="Profile">


	<ion-nav-buttons side="right">
		<button ui-sref="tab.product-list" class="button icon ion-edit"></button>
	</ion-nav-buttons>

	<ion-nav-buttons side="left">
		<button ui-sref="tab.product-list" class="button icon ion-arrow-left-c"></button>
	</ion-nav-buttons>

	<ion-content padding="true">
    <div class="list card">
      <div class="item item-divider">{{currentUser.username}}</div>
      <div class="item item-body">

      </div>
    </div>
	</ion-content>
</ion-view>
