<ion-view view-title="Type Update">
  <ion-content padding="true">
    <form ng-submit="update()" class="list">
      <label class="item item-input item-select" ng-click="categoryOpenModal()">
        <span class="input-label">Category</span>
				<input type="text" ng-model="type.category_name" value="{{type.category_name}}">
      </label>
      </label>
      <label class="item item-input">
        <span class="input-label">Name</span>
        <input ng-model="type.name" type="text" placeholder="" value="">
      </label>
      <button type="submit" class="button button-balanced button-block button-outline icon-left ion-android-arrow-up">Update</button>
      <button type="button" ng-click="cancel()" class="button button-positive button-block button-outline icon-left ion-android-arrow-back">Cancel</button>
    </form>
  </ion-content>
</ion-view>
