<ion-view view-title="Types Create">
  <ion-content padding="true">
    <form ng-submit="update()" class="list">
      <label class="item item-input item-select">
        <span class="input-label">Category</span>
          <option ng-repeat="category in categories" value="{{category.url}}">{{category.name}}</option>
        </select>
      </label>
      <label class="item item-input">
        <span class="input-label">Name</span>
        <input ng-model="type.name" type="text" placeholder="" value="">
      </label>
      <button type="submit" class="button button-balanced button-block button-outline icon-left ion-android-add">Update</button>
      <button ng-click="cancel()" class="button button-positive button-block button-outline icon-left ion-android-arrow-back">Cancel</button>
    </form>
  </ion-content>
</ion-view>