<ion-view view-title="Type List">
  
  <ion-nav-buttons side="left">
    <button ui-sref="tab.type-create" class="button icon ion-android-add-circle"></button>
  </ion-nav-buttons>
  
	<ion-content padding="true">
		<ion-list>
			<ion-item ui-sref="tab.type-detail({ id: type.id })" ng-repeat="type in types" class="item item-button-right item-thumbnail-left">
				<h2>{{ type.name }}</h2>

				<div class="buttons">
				  <ion-option-button ui-sref="tab.type-update({id: type.id})" class="button button-dark button-outline icon-center ion-edit"></ion-option-button>
				  <ion-option-button ui-sref="tab.type-delete({id: type.id})" class="button button-dark button-outline icon-center ion-android-delete"></ion-option-button>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
