<ion-view view-title="Brand Delete">
  <ion-content padding="true">

    <div class="list">
      <p>
        Are you sure you want to delete the brand: {{brand.name}}?
      </p>
      <button ng-click="delete()" class="button button-assertive  button-block button-outline icon-left ion-android-cancel">Delete</button>
      <button ng-click="cancel()" class="button button-positive button-block button-outline icon-left ion-android-arrow-back">Cancel</button>
    </div>

  </ion-content>
</ion-view>
