<ion-popover-view style="height: 164px;" class="hidden">
  <ion-content>
    <ion-list>
      <ion-item href="#/profile">
        <i class="icon ion-person"></i>
        {{currentUser.username}}
      </ion-item>
      <ion-item ui-sref="inventory-list" ng-click="closeMenu()">
        <i class="icon ion-ios-pricetags"></i>
        Inventory
      </ion-item>
      <ion-item ui-sref="settings-list" ng-click="closeMenu()">
        <i class="icon ion-android-settings"></i>
        Settings
      </ion-item>
      <ion-item ng-click="closeMenu(true)">
        <i class="icon ion-power"></i>
        Logout
      </ion-item>
    </ion-list>
  </ion-content>
</ion-popover-view>
