<ion-view view-title="Product Create">
  <ion-content padding="true">
    <form ng-submit="update()" class="list">
      <label class="item item-input">
        <span class="input-label">Name</span>
        <input ng-model="product.name" type="text" placeholder="" value="">
      </label>
      <label class="item item-input">
        <span class="input-label">Price</span>
        <input ng-model="product.price" type="number" min="0" step="0.01">
      </label>
      <label class="item item-input">
        <span class="input-label">Quantity</span>
        <input ng-model="product.quantity" type="number" min="0">
      </label>
      <button ng-click="takePicture()" class="button button-stable button-block button-outline icon-left ion-ios-camera-outline">Take Picture</button>
      <button type="submit" class="button button-balanced button-block button-outline icon-left ion-android-add">Update</button>
      <button ng-click="cancel()" class="button button-positive button-block button-outline icon-left ion-android-arrow-back">Cancel</button>
    </form>
  </ion-content>
</ion-view>
