<ion-view view-title="Product Detail">
	<ion-content padding="true">
    <div class="list card">
      <div class="item item-divider">{{product.name}}</div>
			<div class="item item-image">
        <ion-spinner ng-hide="product.id != null" icon="dots"></ion-spinner>
        <img ng-src="{{product.extra.picture_url}}">
      </div>
      <div class="item item-body">
        <h2>Id: {{product.id}}</h2>
        <h2>Name: {{product.name}}</h2>
				<h2>Brand: {{product.extra.brand_name}}</h2>
        <h2>Description: {{product.description}}</h2>
        <h2>Supplier: {{product.supplier}}</h2>
        <h2>Location: {{product.extra.location_name}}</h2>
        <h2>Section: {{product.extra.section_name}}</h2>
        <h2>Category: {{product.extra.product_category_name}}</h2>
        <h2>Type: {{product.extra.product_type_name}}</h2>
        <h2>Price: {{product.retail_price | currency : $ : 0 }}</h2>
				<h2>Tax: {{product.extra.tax_name }}</h2>
        <h2>Inventory: {{product.inventory }}</h2>
        <h2>Quantity: {{product.quantity}}</h2>
        <h2>Created: {{product.created | date:'medium'}}</h2>
        <h2>Updated: {{product.updated | date:'medium'}}</h2>
      </div>
    </div>
		<div class="item item-image">
      <ion-spinner ng-hide="product.extra.code_url != null" icon="dots"></ion-spinner>
      <img ng-src="{{product.extra.code_url}}">
      <button ng-click="print()" class="button button-balanced  button-block button-outline icon-left ion-ios-printer-outline">Print</button>
    </div>
	</ion-content>
</ion-view>
