<ion-view view-title="Product List">

	<ion-nav-buttons side="left">
		<button ui-sref="tab.product-create" class="button icon ion-android-add-circle"></button>
	</ion-nav-buttons>

	<ion-nav-buttons side="right">
	  <button class="button icon ion-android-more-vertical" ng-click="menu($event)"></button>
	</ion-nav-buttons>

	<ion-content padding="true">
		<ion-list>
			<search></search>
			<ion-item ng-click="detail(product)" ng-repeat="product in products | orderBy:'name' | filter:search.value" class="item item-button-right item-thumbnail-left">
				<img ng-src="{{product.image}}">
				<h2>{{ product.name }}</h2>

				<div class="buttons">
				  <ion-option-button ui-sref="tab.product-update({id: product.id})" class="button button-dark button-outline icon-center ion-edit"></ion-option-button>
				  <ion-option-button ui-sref="tab.product-delete({id: product.id})" class="button button-dark button-outline icon-center ion-android-delete"></ion-option-button>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
	<ion-footer-bar align-title="left" keyboard-attach class="bar-dark">
    <h1 class="title">Platxo Products</h1>
  </ion-footer-bar>


</ion-view>
