<ion-modal-view>
  <ion-header-bar class="bar-balanced">
    <h1 class="title">Select Type</h1><button class="button icon ion-android-cancel" ng-click="typeCloseModal()"></button>
  </ion-header-bar>
  <ion-content padding="true">
    <search-Directive></search-Directive>
    <ion-radio
      ng-repeat="type in types | orderBy:'name' | filter:search.value"
      ng-click="selectType(type)"
    ><h2>{{type.name}}</h2>
    <h4>{{type.extra.product_category_name}}</h4>
    </ion-radio>
  </ion-content>
</ion-modal-view>
