<ion-view view-title="Inventory">

  <ion-nav-buttons side="right">
    <button ui-sref="tab.product-list" class="button icon ion-arrow-left-c"></button>
  </ion-nav-buttons>

	<ion-content padding="true">
    <a ui-sref="inventory-location" class="item item-icon-left">
      <i class="icon ion-location balanced"></i>
      Location
    </a>
    <a ui-sref="inventory-section" class="item item-icon-left">
      <i class="icon ion-ios-filing balanced"></i>
      Section
    </a>
	</ion-content>
</ion-view>
