<ion-view view-title="Inventory Location">
	
	<ion-nav-buttons side="left">
		<button ui-sref="location-create" class="button icon ion-android-add-circle"></button>
	</ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button ui-sref="inventory-list" class="button icon ion-arrow-left-c"></button>
  </ion-nav-buttons>

	<ion-content padding="true">
		<ion-list>
			<search></search>
			<ion-item ng-click="detail(product)" ng-repeat="location in locations | orderBy:'name' | filter:search.value" class="item item-button-right item-thumbnail-left">
				<h2>{{ location.name }}</h2>
				
				<div class="buttons">
				  <ion-option-button ui-sref="tab.product-update({id: product.id})" class="button button-dark button-outline icon-center ion-edit"></ion-option-button>
				  <ion-option-button ng-click="locationDelete(location)" class="button button-dark button-outline icon-center ion-android-delete"></ion-option-button>
				  <!-- <ion-option-button ng-click="locationDelete(location)" ui-sref="tab.product-delete({id: product.id})" class="button button-dark button-outline icon-center ion-android-delete"></ion-option-button> -->
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>